node_modules/
dist/

# Generated CSS content
package/src/generated/

.env.*


.env
**/.env*
!examples/next-clerk/.env.local

/archive
# nextjs

.DS_Store
new

# ignore any .next folder in any directory
**/.next/
tests
nextjs/test.ts
nextjs/run.sh
frameworks
next-no-tw
archives