node_modules/
dist/

# Generated CSS content
package/src/generated/

.env.*


.env
**/.env*
!examples/next-clerk/.env.local

/archive
# nextjs

.DS_Store
new

# ignore any .next folder in any directory
**/.next/
tests
nextjs/test.ts
nextjs/run.sh
# frameworks
next-no-tw
archives
convex-saas-boilerplate

autumn.config.ts
debug

frameworks
!frameworks/conv/
launch-demo

convex/example-ba-new
convex/example-clerk
nextjs/better-auth_migrations
