# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist/
build
.next/
out/

# Local env files
.env
.env.*
**/.env*
!examples/next-clerk/.env.local

# Testing
coverage

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Turbo and Vercel
.turbo
.vercel

# System files
.DS_Store
*.pem

# Old project-specific ignores
new
/archive
