@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --au-background: 0 0% 100%;
  --au-foreground: 240 10% 3.9%;
  --au-card: 0 0% 100%;
  --au-card-foreground: 240 10% 3.9%;
  --au-popover: 0 0% 100%;
  --au-popover-foreground: 240 10% 3.9%;
  --au-primary: 240 5.9% 10%;
  --au-primary-foreground: 0 0% 98%;
  --au-secondary: 240 4.8% 95.9%;
  --au-secondary-foreground: 240 5.9% 10%;
  --au-muted: 240 4.8% 95.9%;
  --au-muted-foreground: 240 3.8% 46.1%;
  --au-accent: 240 4.8% 95.9%;
  --au-accent-foreground: 240 5.9% 10%;
  --au-destructive: 0 84.2% 60.2%;
  --au-destructive-foreground: 0 0% 98%;
  --au-border: 240 5.9% 90%;
  --au-input: 240 5.9% 90%;
  --au-ring: 240 10% 3.9%;
  --au-chart-1: 12 76% 61%;
  --au-chart-2: 173 58% 39%;
  --au-chart-3: 197 37% 24%;
  --au-chart-4: 43 74% 66%;
  --au-chart-5: 27 87% 67%;
  --au-radius: 0.5rem;
  --au-sidebar-background: 0 0% 98%;
  --au-sidebar-foreground: 240 5.3% 26.1%;
  --au-sidebar-primary: 240 5.9% 10%;
  --au-sidebar-primary-foreground: 0 0% 98%;
  --au-sidebar-accent: 240 4.8% 95.9%;
  --au-sidebar-accent-foreground: 240 5.9% 10%;
  --au-sidebar-border: 220 13% 91%;
  --au-sidebar-ring: 217.2 91.2% 59.8%;
}
.dark {
  --au-background: 240 10% 3.9%;
  --au-foreground: 0 0% 98%;
  --au-card: 240 10% 3.9%;
  --au-card-foreground: 0 0% 98%;
  --au-popover: 240 10% 3.9%;
  --au-popover-foreground: 0 0% 98%;
  --au-primary: 0 0% 98%;
  --au-primary-foreground: 240 5.9% 10%;
  --au-secondary: 240 3.7% 15.9%;
  --au-secondary-foreground: 0 0% 98%;
  --au-muted: 240 3.7% 15.9%;
  --au-muted-foreground: 240 5% 64.9%;
  --au-accent: 240 3.7% 15.9%;
  --au-accent-foreground: 0 0% 98%;
  --au-destructive: 0 62.8% 30.6%;
  --au-destructive-foreground: 0 0% 98%;
  --au-border: 240 3.7% 15.9%;
  --au-input: 240 3.7% 15.9%;
  --au-ring: 240 4.9% 83.9%;
  --au-chart-1: 220 70% 50%;
  --au-chart-2: 160 60% 45%;
  --au-chart-3: 30 80% 55%;
  --au-chart-4: 280 65% 60%;
  --au-chart-5: 340 75% 55%;
  --au-sidebar-background: 240 5.9% 10%;
  --au-sidebar-foreground: 240 4.8% 95.9%;
  --au-sidebar-primary: 224.3 76.3% 48%;
  --au-sidebar-primary-foreground: 0 0% 100%;
  --au-sidebar-accent: 240 3.7% 15.9%;
  --au-sidebar-accent-foreground: 240 4.8% 95.9%;
  --au-sidebar-border: 240 3.7% 15.9%;
  --au-sidebar-ring: 217.2 91.2% 59.8%;
}

@layer base {
  * {
    border-color: hsl(var(--au-border));
  }
  body {
    @apply au-bg-background au-text-foreground;
  }
}
